nav{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    margin: 8px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: red;
    transition: width 1s, height 1s, border-radius 1s, border-top-left-radius 0.5s, margin 1s, background 1s;
    
}

.button-navbar{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 3rem;
    background: none;
    border: none;
    border-radius: 50%;
    color: white;
    
}

.navbar-active{
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
    background: url("./fotoPrimavera.jpg");
    background-color: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.button-navbar-active{
    top: 8px;
    left: 8px;
    width: 32px;
    height: 32px;
    padding: 4px;
    background-color: red;
}

.menu__main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    width: 0;
    height: 0;
    visibility: hidden;
    transition: width 1s, height 1s;
    background-color: rgba(0, 0, 0, 0.37);
    border: 1px white solid;
    border-radius: 20px;
    color: white;
    font-size: 2.8rem;
    backdrop-filter: blur(3px);
}

.menu-active{
    visibility: visible;
    width: 250px;
    height: 250px;
}

.menu-container{
    width: 100%;
}

.menu-container li{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-container li a{
    margin-left: 8px;
    color: white;
    text-decoration: none;
}

.menu-container li a.current-section{
    padding: 8px;
    background-color: white;
    color: red;
    border-radius: 8px;
}

@media (max-width:1024){
    .navbar-active{
        width: 20vw;
    }
}